<form name="moviesOwned">
    <div class="col-md-8">
      <br>
        <table class="table table-striped table-hover">
          <thead>
            <tr class="success">
              <th>
                <a href="" ng-click="predicate='title'; reverse=!reverse">
                  <h3>Title</h3></a>
              </th>
              <th>
                <a href="">
                  <h3>Genre</h3></a>
              </th>
              <th>
                <a href="" ng-click="predicate='year'; reverse=!reverse">
                  <h3>Year</h3></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-control"
                         placeholder="Search for Title, Genre or Release Year..."
                         type="search" ng-model="filterCont">
                  </input>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr ng-repeat="item in justMovies | filter:filterCont | orderBy:predicate:reverse">
                <td ng-click="open(item)"><h4>{{item.title}}</h4></td>
                <td ng-click="open(item)"><h5 class="text-muted">{{item.genre}}</h5></td>
                <td ng-click="open(item)"><h4>{{item.year}}</h4></td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-lg-4">
    <br>
    <ng-switch on="anyItemOpen()">
      <div ng-switch-when="true" name="movieDetails" class="panel panel-warning"
           style="position: fixed; height: 450px; width:500px;">
        <div class="panel-heading">
          <h3>Details</h3>
        </div>
        <div class="panel-body">
          <div>
            <h3>Title: {{opened.title}}</h3>
            <h3>Genre: {{opened.genre}}</h3>
            <h3>Runtime: {{opened.runtime}}</h3>
            <h3>Year: {{opened.year}}</h3>
            <h3>IMDB-rating: {{opened.imdbRating}}</h3>
          </div>
          <br>
          <p></p>
          <div class="form-group">
            <div class="btn-group">
              <!--<h5 class="text-muted">Rate this Title</h5>-->
              <form name="rating">
                <a class="btn btn-warning btn-lg " ng-click="updateRating(rateMovie)" role="button" href=""
                   onclick="document.location.reload(true)">Rate</a>
                <select ng-model="rateMovie" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
                  <option value="" disabled selected></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <br>
              </form>
            </div>
            <a class="btn btn-danger btn-lg pull-right " ng-click="deleteMovie(cont.id)" role="button" href=""
               onclick="document.location.reload(true)">Delete</a>
          </div>
          <br>
          </div>
      </div>
    </ng-switch>
    </div>
  </div>
</form>

